shape [6]

X0 >> And(~X1, ~X2, ~X3, ~X4, ~X5)
X1 >> And(~X0, ~X2, ~X3, ~X4, ~X5)
X2 >> And(~X0, ~X1, ~X3, ~X4, ~X5)
X3 >> And(~X0, ~X1, ~X2, ~X4, ~X5)
X4 >> And(~X0, ~X1, ~X2, ~X3, ~X5)
X5 >> And(~X0, ~X1, ~X2, ~X3, ~X4)

Or(X0, X1, X2, X3, X4, X5)
